<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block metatags %}{% endblock %}
    {% load static %}
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock %}
</head>
<body>
{% include 'navbar.html' %}
<div class="container px-10 mx-auto">
    {% block content %}
    {% endblock %}
</div>
{% block scripts %}
{% endblock %}
</body>
</html>
